{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header id="site-branding" role="banner">
  {{ page.utility }}
  <div class="container">
    <div class="row">
      <div class="col-md-12">{{ page.header }}</div>
    </div>
  </div>
</header>

{% if page.alerts %}
<div class="layout-alerts" role="region">
  {{ page.alerts }}
</div>
{% endif %}

{% if page.hero %}
<section class="layout-hero-content" role="region">
  {{ page.hero }}
</section>
{% endif %}


{% if page.content_top %}
<section class="layout-content-top" role="region">
  <div class="container">
    <div class="row">
      <div class="col-md-12">{{ page.content_top }}</div>
    </div>
  </div>
</section>
{% endif %}


{{ page.breadcrumb }}
{{ page.highlighted }}
{{ page.help }}


<div class="layout-container container">
  <main role="main" class="row">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% set content_classes = [
        page.sidebar_left and page.sidebar_right ? 'col-md-6',
        page.sidebar_left and page.sidebar_right is empty ? 'col-md-9',
        page.sidebar_right and page.sidebar_left is empty ? 'col-md-9',
        page.sidebar_left is empty and page.sidebar_right is empty ? 'col-md-12'
    ] %}

    {% if page.sidebar_left %}
    <aside class="layout-sidebar-left col-md-3" role="complementary">
      {{ page.sidebar_left }}
    </aside>
    {% endif %}


    {% if page.content %}
    {{ attributes }}
    <div{{ content_attributes.addClass(content_classes).addClass('layout-center') }}>
      {{ page.content }}
    </div>
    {% endif %}


    {% if page.sidebar_right %}
    <aside class="layout-sidebar-right col-md-3" role="complementary">
      {{ page.sidebar_right }}
    </aside>
    {% endif %}


  </main>
</div>


{% if page.content_bottom %}
<section class="layout-content-bottom" role="region">
  {{ page.content_bottom }}
</section>
{% endif %}


{% if page.footer %}
<footer class="layout-footer-content" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">{{ page.footer }}</div>
    </div>
  </div>
</footer>
{% endif %}


{% if page.footer_copyright %}
<section class="layout-footer-copyright" role="region">
  <div class="container">
    <div class="row">
      <div class="col-md-12">{{ page.footer_copyright }}</div>
    </div>
  </div>
</section>
{% endif %}


{% if page.slide_in_navigation %}
<section class="layout-push-navigation" role="region">
  <div class="push-nav-wrapper">{{ page.slide_in_navigation }}</div>
</section>
{% endif %}
