.featured-news-slider {
  .featured-article-slider {
    background: $color-grey-xlt;
    .featured-post-wrap {
      .post-img {
        height: 100%;
        a {
          display: block;
          height: 100%;
        }

        img {
          max-height: 48rem;
          object-fit: cover;
          height: 100%;
        }
      }

      .content-wrap {
        padding: 15px 15px 15px 15px;
        @media (min-width: $screen-md-min) {
          padding-left: 5px;
          padding-bottom: 60px;
        }

        .post {
          &-title {
            font-size: 2.4rem;
            margin: 0 0 7px;
          }

          &-date {
            margin-bottom: 5px;
          }

          &-link {
            a {
              @include read_more_link($color-orange);
            }
          }
        }
      }
    }
  }

  .controls {
    @include slide_controls();
  }
}