{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
  'form-control'
]
%}
<input{{ attributes.addClass(classes)|without('aria-required') }} />
{% if icon %}
  <span class="icon fa-{{ icon }} {{ icon_style }}"></span>
{% endif %}
{{ children }}
