.embedded-entity img {
  max-width: 100%;
  height: auto;
}

.paragraph--type--column-section .col-md-7 .column-content img,
.paragraph--type--column-section .col-md-6 .column-content img,
.paragraph--type--column-section .col-md-4 .column-content img,
.paragraph--type--column-section .col-md-3 .column-content img {
  max-width: 100%;
  height: auto;
}

/*
 * Global Flexslider overwrites
 */
.flexslider {
  border: none;
  margin: 0;
}

.flexslider .controls .custom-controls-container .pause,
.flexslider .controls .custom-controls-container .play {
  display: inline-block;
  vertical-align: top;
}

.flexslider .controls .custom-controls-container .flex-control-nav {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: initial;
  bottom: initial;
  text-align: inherit;
}

.flexslider .controls .flex-prev,
.flexslider .controls .flex-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  font-size: 30px;
  color: #ffffff;
  -webkit-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

.flexslider .controls .flex-prev:focus, .flexslider .controls .flex-prev:active, .flexslider .controls .flex-prev:hover,
.flexslider .controls .flex-next:focus,
.flexslider .controls .flex-next:active,
.flexslider .controls .flex-next:hover {
  text-decoration: none;
  opacity: .5;
}

.flexslider .controls .flex-prev {
  left: 0;
  text-shadow: 1px 1px 2px #000;
}

.flexslider .controls .flex-next {
  right: 0;
  text-shadow: -1px 1px 2px #000;
}

.paragraph--type--person-carousel {
  overflow: hidden;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-arrow {
  z-index: 10;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-arrow.slick-prev {
  left: 15px;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-arrow.slick-next {
  right: 15px;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list {
  margin: 0 -10px;
  overflow: visible;
}

.hide-overflow .paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list {
  overflow-y: hidden;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list:before, .paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list:before {
  right: 100%;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list:after {
  left: 100%;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list .slick-slide {
  float: left;
  padding: 0 10px;
  opacity: 0.2;
  -webkit-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list .slick-slide.slick-active {
  opacity: 1;
}

.paragraph--type--person-carousel .view-id-carousels.view-display-id-block_1 .slick-list .slick-slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#site-branding {
  z-index: 10;
}

#site-branding:after {
  content: '';
  display: block;
  clear: both;
}

#site-branding .utility-nav-block {
  float: right;
  width: 65%;
}

@media (max-width: 991px) {
  #site-branding .utility-nav-block {
    width: 100%;
  }
}

#site-branding .utility-nav-block ul {
  float: right;
  margin: 0;
  padding: 0;
}

#site-branding .utility-nav-block ul li {
  float: left;
  position: relative;
}

#site-branding .utility-nav-block ul li:focus > ul, #site-branding .utility-nav-block ul li:hover > ul {
  float: none;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  z-index: 10;
}

#site-branding .utility-nav-block ul li.menu-item--expanded {
  list-style: none;
}

#site-branding .utility-nav-block ul ul {
  display: none;
  float: none;
}

#site-branding .company-brand {
  float: left;
  width: 35%;
}

@media (max-width: 991px) {
  #site-branding .company-brand {
    width: 80%;
  }
}

#site-branding .block-tb-megamenu {
  float: right;
  width: 65%;
}

@media (max-width: 991px) {
  #site-branding .block-tb-megamenu {
    display: none;
  }
}

#site-branding .block-tb-megamenu .tb-megamenu {
  background: transparent;
}

#site-branding .block-tb-megamenu .tb-megamenu .level-0 {
  float: right;
}

#site-branding .block-tb-megamenu .tb-megamenu .tb-megamenu-item .dropdown-toggle:after {
  display: none;
}

#site-branding .block-tb-megamenu .tb-megamenu a {
  color: initial;
  border: none;
  font-weight: initial;
  padding: initial;
}

#site-branding .menu--push-navigation-toggle {
  float: right;
  display: none;
}

@media (max-width: 991px) {
  #site-branding .menu--push-navigation-toggle {
    display: inline-block;
  }
}

#site-branding .menu--push-navigation-toggle ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

#site-branding .menu--push-navigation-toggle ul .push-menu-toggle {
  font-size: 0;
  line-height: 0;
}

#site-branding .menu--push-navigation-toggle ul .push-menu-toggle:before {
  font-size: 16px;
  line-height: 1em;
  padding: 12px 15px;
}

.hero-slideshow .hero-slide-wrap {
  position: relative;
  max-height: 800px;
  overflow: hidden;
}

.hero-slideshow .hero-slide-wrap:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+18,0.65+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(18%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}

.hero-slideshow .hero-slide-wrap .hero-media-wrap .hero-mp4,
.hero-slideshow .hero-slide-wrap .hero-media-wrap .hero-webm {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.hero-slideshow .hero-slide-wrap .hero-media-wrap .hero-mp4 video,
.hero-slideshow .hero-slide-wrap .hero-media-wrap .hero-webm video {
  width: 100%;
}

.hero-slideshow .hero-slide-wrap .hero-content-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.hero-banner-img-section.banner-short {
  height: 250px;
}

.hero-banner-img-section.banner-tall {
  height: 400px;
}

.featured-events-grid.view-display-id-block_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-events-grid.view-display-id-block_3 > .attachment {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

@media (max-width: 991px) {
  .featured-events-grid.view-display-id-block_3 > .attachment {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .featured-events-grid.view-display-id-block_3 > .attachment {
    height: 300px;
  }
}

.featured-events-grid.view-display-id-block_3 > .attachment:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80%;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), to(black));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}

.featured-events-grid.view-display-id-block_3 > .attachment .date-wrap {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 3;
}

.featured-events-grid.view-display-id-block_3 > .attachment .featured-event-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  z-index: 5;
  color: #ffffff;
}

.featured-events-grid.view-display-id-block_3 > .attachment .featured-event-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 2;
}

.featured-events-grid.view-display-id-block_3 > .view-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media (max-width: 991px) {
  .featured-events-grid.view-display-id-block_3 > .view-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.featured-events-grid.view-display-id-block_3 > .view-content .featured-event-wrap {
  position: relative;
}

.featured-events-grid.view-display-id-block_3 > .view-content .featured-event-wrap .image-wrap .date-wrap {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 3;
}

.featured-events-grid.view-display-id-block_3 > .view-content .featured-event-wrap .image-wrap img {
  height: auto;
  width: 100%;
  z-index: 2;
}

.featured-events-grid.view-display-id-block_3 > .view-content .featured-event-wrap .content-wrap {
  padding-left: 10px;
}

.featured-event-slider .slides .featured-event-wrap .image-wrap {
  position: relative;
}

.featured-event-slider .slides .featured-event-wrap .image-wrap .date-wrap {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 3;
}

.featured-event-slider .slides .featured-event-wrap .image-wrap img {
  position: relative;
  z-index: 1;
}

.featured-event-slider .slides .featured-event-wrap .content-wrap {
  padding-left: 10px;
}

.featured-news-grid.view-display-id-block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-news-grid.view-display-id-block_1 > .attachment {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

@media (max-width: 991px) {
  .featured-news-grid.view-display-id-block_1 > .attachment {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .featured-news-grid.view-display-id-block_1 > .attachment {
    height: 300px;
  }
}

.featured-news-grid.view-display-id-block_1 > .attachment:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80%;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), to(black));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}

.featured-news-grid.view-display-id-block_1 > .attachment .featured-post-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  z-index: 5;
  color: #ffffff;
}

.featured-news-grid.view-display-id-block_1 > .view-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media (max-width: 991px) {
  .featured-news-grid.view-display-id-block_1 > .view-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.featured-news-grid.view-display-id-block_1 > .view-content .featured-post-wrap img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.layout-push-navigation {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 400px;
  -webkit-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
  background-color: #cccccc;
  z-index: 10;
  padding: 30px;
}

.toolbar-horizontal .layout-push-navigation {
  top: 39px;
}

.toolbar-horizontal.toolbar-tray-open .layout-push-navigation {
  top: 79px;
}

.layout-push-navigation.active {
  -webkit-transform: translateX(-400px);
      -ms-transform: translateX(-400px);
          transform: translateX(-400px);
}

@media (max-width: 767px) {
  .layout-push-navigation.active {
    left: 0;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.layout-push-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout-push-navigation ul li {
  margin: 0;
  padding: 0;
}

.layout-push-navigation ul li .dropdown-toggle:after {
  display: none;
}

.layout-push-navigation ul li .dropdown-menu-list {
  display: none;
}

.child-menu-container {
  background-color: #bbbbbb;
  position: fixed;
  top: 0;
  left: 100%;
  width: 93%;
  height: 100%;
  padding: 30px;
  -webkit-box-shadow: -2px -1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: -2px -1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

.child-menu-container.active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.child-menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.child-menu-container ul li {
  margin: 0;
  padding: 0;
}

.sidebar-menu-block ul,
.sidebar-menu-block .menu {
  margin: 0;
  padding: 0;
}

.sidebar-menu-block .menu .menu__item {
  display: block;
  width: 100%;
  white-space: inherit;
}

.sidebar-menu-block .menu .menu__item .menu__link {
  display: block;
  min-height: 34px;
  padding: 5px 0;
}

.sidebar-menu-block .menu .menu__item .fa {
  height: 34px;
  position: relative;
  background: #eeeeee;
}

.sidebar-menu-block .menu .menu__item .fa:focus:before, .sidebar-menu-block .menu .menu__item .fa:hover:before, .sidebar-menu-block .menu .menu__item .fa:active:before {
  text-decoration: underline;
}

.sidebar-menu-block .menu .menu__item .fa:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar-menu-block .menu .dropdown-item {
  margin: 0;
  padding: 0;
}

.sidebar-menu-block .menu .dropdown-item:active {
  background: none transparent;
}

.sidebar-menu-block .menu .dropdown-item.active {
  background: none transparent;
}

.sidebar-menu-block .menu .dropdown-item.active .fa {
  color: #000000;
}

.sidebar-menu-block .menu .dropdown-item.active .dropdown-menu-list {
  display: block;
}

.sidebar-menu-block .menu .dropdown-item .dropdown-toggle {
  float: left;
  width: calc(100% - 35px);
}

.sidebar-menu-block .menu .dropdown-item .dropdown-toggle:after {
  display: none;
}

.sidebar-menu-block .menu .dropdown-item .fa {
  float: left;
  width: 35px;
}

.sidebar-menu-block .menu .dropdown-item .dropdown-menu-list {
  clear: both;
  display: none;
}

.paragraph--type--adjustable-media-and-content.media-right-mobile-top .media-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767px) {
  .paragraph--type--adjustable-media-and-content.media-right-mobile-top .media-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.paragraph--type--adjustable-media-and-content.media-right-mobile-top .content-wrap {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 767px) {
  .paragraph--type--adjustable-media-and-content.media-right-mobile-top .content-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.paragraph--type--adjustable-media-and-content .media-right .media-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.paragraph--type--adjustable-media-and-content .media-right .content-wrap {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.paragraph--type--adjustable-media-and-content .media-wrap img {
  width: 100%;
  height: auto;
}

.layout-content-bottom .paragraph--type--wysiwyg {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1140px;
}

.field--name-field-after-content .paragraph--type--accordion .accordion-section-title-wrap, .field--name-field-after-content
.paragraph--type--accordion .card-wrap {
  padding: 0;
}

.paragraph--type--interior-slideshow-slide {
  position: relative;
}

.paragraph--type--interior-slideshow-slide .slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.paragraph--type--video-tab-carousel .video-carousel .tab-video-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767px) {
  .paragraph--type--video-tab-carousel .video-carousel .tab-video-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.paragraph--type--video-tab-carousel .video-carousel .tab-video-wrap .tab-item-content {
  display: none;
  opacity: 0;
  -webkit-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

.paragraph--type--video-tab-carousel .video-carousel .tab-video-wrap .tab-item-content.active {
  display: block;
  opacity: 1;
  -webkit-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

@media (max-width: 767px) {
  .paragraph--type--video-tab-carousel .video-carousel .tab-video-wrap .tab-item-content {
    display: block;
  }
}

.paragraph--type--video-tab-carousel .video-carousel .tab-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .paragraph--type--video-tab-carousel .video-carousel .tab-title-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.paragraph--type--video-tab-carousel .video-carousel .tab-title-wrap .tab-title {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paragraph--type--video-tab-carousel .video-carousel .tab-title-wrap .tab-title:focus, .paragraph--type--video-tab-carousel .video-carousel .tab-title-wrap .tab-title:hover {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .paragraph--type--flexible-cta-blocks.col-display-4 .col.flexible-cta-block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .paragraph--type--flexible-cta-blocks.col-display-4 .col.flexible-cta-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 1199px) {
  .paragraph--type--flexible-cta-blocks.col-display-3 .col.flexible-cta-block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .paragraph--type--flexible-cta-blocks.col-display-3 .col.flexible-cta-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 1199px) {
  .paragraph--type--flexible-cta-blocks.col-display-2 .col.flexible-cta-block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .paragraph--type--flexible-cta-blocks.col-display-2 .col.flexible-cta-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.view-id-directory.view-display-id-page_1 > .view-content,
.view-id-article_view.view-display-id-block_3 > .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.view-article-view .post-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.1);
}

.view-article-view .post-wrap .content-wrap {
  padding: 15px;
}

.view-article-view .post-wrap .post-img img {
  height: auto;
  width: 100%;
}

.view-id-directory.view-display-id-block_1 .view-content:after {
  content: '';
  display: block;
  clear: both;
}

.view-id-directory.view-display-id-block_1 .view-content .alpaha-item {
  float: left;
  width: calc(100% / 27);
  text-align: center;
}

.view-id-directory.view-display-id-page_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.view-id-directory.view-display-id-page_1 > .view-header {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.view-id-directory.view-display-id-page_1 > .view-filters {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.view-id-directory.view-display-id-page_1 > .view-content {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.view-id-directory.view-display-id-page_1 > .view-content .profile-wrap {
  margin-bottom: 15px;
}

.view-id-directory.view-display-id-page_1 > .view-content .profile-wrap .profile-img img {
  width: 100%;
  height: auto;
}

.view-id-directory.view-display-id-page_1 > .view-content .profile-wrap .content-wrap {
  padding-left: 10px;
}

.view-id-directory.view-display-id-page_1 > .view-content .profile-wrap .content-wrap .item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.view-id-directory.view-display-id-page_1 > .view-content .profile-wrap .content-wrap .item-list ul li {
  margin: 0;
  padding: 0;
}

.view-id-directory.view-display-id-page_1 .pager {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.view-id-event_view.view-display-id-page_1 .event-wrap .image-wrap {
  position: relative;
}

.view-id-event_view.view-display-id-page_1 .event-wrap .image-wrap .date-wrap {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 3;
}

.view-id-event_view.view-display-id-page_1 .event-wrap .image-wrap img {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 1;
}

/*# sourceMappingURL=styles.css.map */
