/**
 * @file
 * Color
 *
 ****
 *
 * Color Page Styles
 * Primary Colors
 * Secondary Colors 
 * Patterns
 *
 ****
*/




/****
 *
 * Color Page Styles
 *
 ****/
.color-container {
	margin-bottom: 2rem;
	> div {
		font-size: 1.2rem;
		height: 7.5rem;
		line-height: 1;
		padding: 1.6rem;
		text-align: center;
		text-transform: uppercase;
	}
	.color-name {
		color: #666;
		font-size: 1.4rem;
		font-weight: bold;
		letter-spacing: 0.5;
		line-height: 1.2;
		margin: 0px;
		padding: 0px;
	}
	.color-value {
		margin-top: 0px;
		padding-top: 0px;
		margin: 0px;
		padding: 0px;
		font-size: 1.1rem;
		line-height: 12px;
	}
	
	.color-light {
	 	color: $color-body;
	 	p {
		 	color: $color-body
	 	}
	}
	.color-dark {
	 	color: #fff;
	  p {
	  	color: #fff;
	  }
	}
	.color-inner {
		position: relative;
		//Accessibility blocks
		&:after {
			background-color: #fff;
			bottom: 0;
			color: $color-green;
			content: "\f00c";
			font-family: $font-awesome-4;
			font-size: 1.2rem;
			left: 0;
			line-height: 1.3;
			text-align: center;
			padding: 1px 2px;
			position: absolute;
			width: 1.6rem;
		}
		&:before {
			background-color: #000;
			bottom: 0;
			color: $color-green;
			content: "\f00c";
			font-family: $font-awesome-4;
			font-size: 1.2rem;
			left: 1.6rem;
			line-height: 1.3;
			text-align: center;
			padding: 1px 2px;
			position: absolute;
			width: 1.6rem;
		}
		&.access-white-pass {
			&:after {
				color: $color-green;
				content: "\f00c";
			}
		}
		&.access-white-fail {
			&:after {
				color: $color-red;
				content: "\f00d";
			}
		}
		&.access-black-pass {
			&:before {
				color: $color-green;
				content: "\f00c";
			}
		}
		&.access-black-fail {
			&:before {
				color: $color-red;
				content: "\f00d";
			}
		}
		
		//Accessibility Popup
		.color-popup {
			background-color: #fff;
			box-shadow: 0 0 4px rgba(0,0,0,0.5);
			color: $color-body;
			font-size: 0;
			line-height: 1;
			opacity: 0;
			padding: 1rem;
			position: absolute;
			right: 0;
			text-align: left;
			text-transform: none;
			top: 0;
			transition: all 0.1s ease-in;
			b {
				text-transform: uppercase;
				&.style-pass {
					color: $color-green;
				}
				&.style-fail {
					color: $color-red;
				}
			}
		}
		&:hover {
			.color-popup {
				font-size: 1.4rem;
				opacity: 1;
				right: -2rem;
				top: -6rem;
				@media #{$tablet} {
					right: 1rem;
				}
			}
		}
	}
}




/****
 *
 * Primary Colors
 *
 ****/
.primary1 {
	background-color: $color-blue-dark;
}
.primary2 {
	background-color: $color-blue;
}
.primary3 {
	background-color: $color-yellow;
}
.primary4 {
	background-color: $color-black;
}




/****
 *
 * Secondary Colors
 *
 ****/
/* secondary colors */
.secondary1 {
	background-color: $color-blue-light;
}
.secondary2 {
	background-color: $color-blue-xlight;
}
.secondary3 {
	background-color: $color-red;
}
.secondary4 {
	background-color: $color-orange;
}
.secondary5 {
	background-color: $color-aqua;
}
.secondary6 {
	background-color: $color-green;
}




/****
 *
 * Neutral Colors
 *
 ****/
.neutral1 {
	background-color: $color-grey-medium;
}
.neutral2 {
	background-color: $color-grey;
}
.neutral3 {
	background-color: $color-grey-light;
}
.neutral4 {
	background-color: $color-grey-xlight;
}




/****
 *
 * Patterns
 *
 ****/
#patterns {
	.color-item {
		font-size: 1.4rem;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	
		a {
			display: none;
			color: #333;
			text-decoration: none;
			background: $color-style-light-grey;
			padding: 16px 8px;
		}
	
		&:hover a {
			display: block;
			cursor: pointer;
		}
	}
	.secondary0 {
		min-height: 70px;
		background-color: $color-style-light-grey;
	
		&.pattern-01 {
			background-image: url(../images/Stone-white-texture.jpg);
		}
	}
}
