/**
 * $file
 * Variables
 *
 ****
 *
 * Page Widths
 * Fonts
 * Colors
 *
 ****
*/




/****
 *
 * Page Widths
 *
 ****/
$width-page: 1150px;

$mobile: '(max-width: 767px)';
$tablet-min: '(min-width: 768px)';
$tablet: "(max-width: 959px)";
$desktop-min: "(min-width: 960px)";
$desktop: "(max-width: 1300px)";
//#{$mobile}
//#{$tablet}
//#{$tablet-min}
//#{$desktop}
//#{$desktop-min}


/****
 *
 * Fonts
 *
 ****/
$font-awesome-5: 'Font Awesome 5 Free';
$font-awesome-4: 'FontAwesome';

$font-family-light: 'robotolight', 'Helvetica', Arial, sans-serif;
$font-family: 'robotoregular', 'Helvetica', Arial, sans-serif;
$font-family-bold: 'robotobold', 'Helvetica', Arial, sans-serif;

$font-family-header: 'roboto_slabregular', 'Courier Bold', Courier, Georgia, Times, serif;
$font-family-header-bold: 'roboto_slabbold', 'Courier Bold', Courier, Georgia, Times, serif;

$font-family-condensed: 'roboto_condensedbold', 'Arial Narrow', Arial, sans-serif;

$font-h1: 4.6rem;
$font-h1-line-height: 1.1;

$font-h2: 3.6rem;
$font-h2-line-height: 1.25;

$font-h3: 3rem;
$font-h3-line-height: 1.3;

$font-h4: 2.6rem;
$font-h4-line-height: 1.26;

$font-h5: 2.2rem;
$font-h5-line-height: 1.22;

$font-h6: 1.8rem;
$font-h6-line-height: 1.16;





/****
 *
 * Colors
 *
 ****/

$color-header: #333;
$color-body: #333;

$color-blue-dark: #1A2D57;
$color-blue: #1E3F84;
$color-yellow: #FFDF00;
$color-black: #222;

$color-blue-light: #4670C9;
$color-blue-xlight: #85A5E9;
$color-red: #E83E3E;
$color-orange: #E89B3E;
$color-aqua: #0CCEC3;
$color-green: #44C472;

$color-grey-xlight: #EEEEED;
$color-grey-light: #E0E0E0;
$color-grey: #D2D2D2;
$color-grey-medium: #CCCCCC;

//gradient
$gradient-blue: linear-gradient(-40deg, #1E3F84 0%, #22499B 73%);

//Styleguide Colors
$color-style-blue: #00a3bf;
$color-style-dark-grey: #a7a7a7;
$color-style-grey: #CCC;
$color-style-light-grey: #F4F5F5;
$color-style-green: #B6BD00;
$color-style-red: #CF0A2C;

//Other
$box-shadow-light: 0 0px 9px 0 rgba(0,0,0,0.08);
$box-shadow-dark: 0 0px 10px 0 rgba(0,0,0,0.30);
$transition: all 0.2s ease-out;
$border-radius: 6px;
