@charset "UTF-8";
/**
 * @file
 * Style
 *
 ****
 *
 * Style imports
 *
 ****/
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*
 * jQuery FlexSlider v2.6.2
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: "flexslider-icon";
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .flexslider .slides {
  display: block;
}

* html .flexslider .slides {
  height: 1%;
}

.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.carousel li {
  margin-right: 5px;
}

.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: "";
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before {
  content: "";
}

.flex-direction-nav .flex-prev {
  left: -50px;
}

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: "";
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay a.flex-play:before {
  content: "";
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on March 21, 2017 */
@font-face {
  font-family: "lato";
  src: url("lato-bold-webfont.eot");
  src: url("lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("lato-bold-webfont.woff2") format("woff2"), url("lato-bold-webfont.woff") format("woff"), url("lato-bold-webfont.ttf") format("truetype"), url("lato-bold-webfont.svg#latobold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("lato-italic-webfont.eot");
  src: url("lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("lato-italic-webfont.woff2") format("woff2"), url("lato-italic-webfont.woff") format("woff"), url("lato-italic-webfont.ttf") format("truetype"), url("lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url("lato-light-webfont.eot");
  src: url("lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("lato-light-webfont.woff2") format("woff2"), url("lato-light-webfont.woff") format("woff"), url("lato-light-webfont.ttf") format("truetype"), url("lato-light-webfont.svg#latolight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("lato-regular-webfont.eot");
  src: url("lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("lato-regular-webfont.woff2") format("woff2"), url("lato-regular-webfont.woff") format("woff"), url("lato-regular-webfont.ttf") format("truetype"), url("lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hind";
  src: url("hind-bold-webfont.eot");
  src: url("hind-bold-webfont.eot?#iefix") format("embedded-opentype"), url("hind-bold-webfont.woff2") format("woff2"), url("hind-bold-webfont.woff") format("woff"), url("hind-bold-webfont.ttf") format("truetype"), url("hind-bold-webfont.svg#hindbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "hind";
  src: url("hind-medium-webfont.eot");
  src: url("hind-medium-webfont.eot?#iefix") format("embedded-opentype"), url("hind-medium-webfont.woff2") format("woff2"), url("hind-medium-webfont.woff") format("woff"), url("hind-medium-webfont.ttf") format("truetype"), url("hind-medium-webfont.svg#hindmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
}

.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/**
 * $file
 * Variables
 *
 ****
 *
 * Page Widths
 * Fonts
 * Colors
 *
 ****
*/
/****
 *
 * Page Widths
 *
 ****/
/****
 *
 * Fonts
 *
 ****/
/****
 *
 * Colors
 *
 ****/
/**
 * @file
 * Styleguide
 *
 ****
 *
 * Styleguide Page Styles
 * Demo Grid
 * Styleguide Typography
 * Welcome page
 * Styleguide Header & Footer
 * Code Blocks
 * Grid
 *
 ****




/****
 *
 * Styleguide Page Styles
 *
 ****/
.style-wrap {
  min-width: 300px;
  max-width: 1200px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}




.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/****
 *
 * Demo Grid
 *
 ****/
.layout-container {
  overflow: hidden;
  min-height: 200px;
  position: relative;
}
.layout-container .demo-grid {
  width: 100%;
}
.layout-container .grid-inner {
  height: 100%;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  z-index: -1;
}
.layout-container .demo-item {
  background-color: rgba(0, 87, 148, 0.2);
  height: 100%;
  min-height: 200px;
  padding-top: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  .layout-container .demo-item {
    min-height: 50px;
  }
}
.layout-container .row {
  height: 100%;
}
.layout-container .demo-col {
  height: 100%;
  margin-bottom: 5px;
}

/****
 *
 * Styleguide Typography
 *
 ****/
.style-header {
  clear: both;
  color: #999;
  display: inline-block;
  font-family: "helvetica", Arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 90px;
  padding: 0px;
  padding-left: 20px;
  text-transform: uppercase;
  text-indent: none;
  width: 100%;
}
@media (max-width: 767px) {
  .style-header {
    margin-bottom: 20px;
    margin-top: 60px;
  }
}

div .style-header {
  padding-left: 0;
}

.style-caption {
  color: #999;
  font-size: 1.6rem;
  margin-bottom: 30px;
  margin-top: -30px;
}

.two-letter {
  font-size: 80px;
  line-height: 58px;
}

.text-right {
  text-align: right;
}

.body-font {
  font-family: "helvetica", Arial, sans-serif;
  font-style: regular;
  font-weight: normal;
}

.header-font {
  font-family: "helvetica", Arial, sans-serif;
  font-style: regular;
  font-weight: bold;
}

.regular {
  font-weight: normal;
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

span.inline-label {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
}

/****
 *
 * Welcome page
 *
 ****/
#welcome {
  text-align: center;
  margin: 0 auto 5rem auto;
  max-width: 600px;
}
#welcome p {
  color: #8c8c8c;
}
#welcome img {
  margin-bottom: 20px;
  max-width: 200px;
}

/* Invision */
#links {
  background-color: #F4F5F5;
  padding: 40px 0;
  text-align: center;
}
#links ul {
  list-style: none;
  padding: 0;
}
#links h3 {
  margin-bottom: 20px;
}
#links .button {
  margin-bottom: 10px;
  width: 100%;
}

/****
 *
 * Styleguide Header & Footer
 *
 ****/
.style-navbar {
  font-size: 1.4rem;
}
.style-navbar .btn {
  appearance: none;
  -webkit-appearance: none;
}
.style-navbar a {
  text-decoration: none;
}
.style-navbar .navbar-brand {
  font-size: 1.6rem;
}
.style-navbar .navbar-brand span:before {
  content: "|";
  padding-right: 20px;
}
.style-navbar img {
  margin-right: 20px;
  margin-left: 20px;
  max-width: 90px;
  vertical-align: bottom;
}
.style-navbar .navbar-nav .nav-item .nav-link {
  padding-left: 15px;
  padding-right: 15px;
}

.style-footer {
  border-top: 1px solid #F4F5F5;
  clear: both;
  font-size: 1.2rem;
  margin-top: 5rem;
  padding: 2rem 2% 1rem;
  text-transform: uppercase;
}

/****
 *
 * Code Blocks
 *
 ****/
pre {
  background: #f9fafc;
  border-color: #e0e6ed;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 1rem 0 3rem 0;
  position: relative;
}
pre.scss:after {
  background: #F4F5F5;
  color: #333;
  content: "SCSS";
  font-size: 1rem;
  padding: 0 1px;
  position: absolute;
  right: 0;
  top: 0;
}
pre.html:after {
  background: #F4F5F5;
  color: #333;
  content: "HTML";
  font-size: 1rem;
  padding: 0 1px;
  position: absolute;
  right: 0;
  top: 0;
}

.hljs {
  background: none;
  padding: 10px;
}

.description {
  color: #777;
  font-size: 1.2rem;
  line-height: 1.6;
}

/****
 *
 * Grid
 *
 ****/
.col-xl,
.col-lg,
.col-md,
.col-sm,
.col-xs,
.col {
  padding-left: 10px;
  padding-right: 10px;
}
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

/**
 * @file
 * Elements
 *
 ****
 *
 * Typography
 * Lists 
 *
 ****
*/
/****
 *
 * Typography
 *
 ****/
html {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "helvetica", Arial, sans-serif;
  letter-spacing: 0;
}

h1 {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

h5 {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

h6 {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
}

.lead {
  font-family: "helvetica", Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 1.6;
}

a {
  color: #005794;
  text-decoration: underline;
}
a:visited {
  color: #005794;
  background-color: auto;
}
a:hover, a:focus, a:active {
  color: #282B2C;
  text-decoration: none;
}

.more-link a,
.post-link a {
  color: #E84708;
  font-weight: bold;
}

hr {
  border-color: #005794;
}

/****
 *
 * Lists
 *
 ****/
ul li,
ol li {
  line-height: 1.6;
}

ul {
  list-style-image: url("../images/bullet.png");
}
ul ul {
  list-style-image: url("../images/bullet-level-2.png");
}
ul ul ul {
  list-style-image: url("../images/bullet-level-3.png");
}
ul ul ul ul {
  list-style-image: url("../images/bullet-level-4.png");
}

ol li {
  padding-left: 15px;
}

/**
 * @file
 * Forms
 *
 ****
 *
 * Alerts
 * Pager
 * Breadcrumb
 * Figures and Tables
 * Accordions
 * Buttons
 * Inputs 
 *
 ****
*/
/****
 *
 * Alerts
 *
 ****/
.block-kwall-site-alert {
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 100%;
}
.block-kwall-site-alert .alert {
  border: none;
  color: #333;
  margin: 0;
  padding: 10px 40px;
}
.block-kwall-site-alert .alert a {
  text-decoration: underline;
}
.block-kwall-site-alert .alert a[title=close] {
  text-decoration: none;
}
.block-kwall-site-alert .alert .slick-arrow {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 0;
  line-height: 0;
  margin: 2.5px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.block-kwall-site-alert .alert .slick-arrow i {
  color: #333;
  font-size: 3rem;
  opacity: 0.6;
}
.block-kwall-site-alert .alert .slick-next {
  right: 0;
}
.block-kwall-site-alert .alert .slick-prev {
  left: 0;
}
.block-kwall-site-alert .alert-success {
  background: #A7DBD8;
  color: #333;
}
.block-kwall-site-alert .alert-warning {
  background: #FDC300;
  color: #333;
}
.block-kwall-site-alert .alert-danger {
  background: #BD1B00;
  color: #fff;
}
.block-kwall-site-alert .alert-danger a,
.block-kwall-site-alert .alert-danger .close {
  color: #fff;
}
.block-kwall-site-alert .alert-danger .slick-arrow i {
  color: #f5f5f5;
}

/****
 *
 * Pager
 *
 ****/
.pager__items {
  clear: both;
  text-align: center;
}

.pager__item {
  display: inline;
  font-size: 1.6rem;
}
.pager__item.is-active {
  font-weight: bold;
}
.pager__item a {
  background-color: #fff;
  color: #005794;
  padding: 14px 18px;
  text-decoration: none;
}
.pager__item a:hover, .pager__item a:focus, .pager__item a:active {
  background-color: #BD1B00;
  color: #fff;
}
.pager__item.is-active {
  font-weight: regular;
}
.pager__item.is-active a {
  background-color: #005794;
  color: #fff;
}

/****
 *
 * Breadcrumb
 *
 ****/
.breadcrumb {
  background-color: #fff;
  font-size: 1.4rem;
  padding: 0;
  padding-bottom: 0.5em;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.breadcrumb li a {
  text-decoration: none;
}
.breadcrumb li:before {
  content: " | ";
  margin: 0 10px;
}
.breadcrumb li:first-child:before {
  content: none;
}

/****
 *
 * Figures and Tables
 *
 ****/
figure {
  display: table;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  vertical-align: top;
}

figcaption {
  background-color: #fff;
  font-size: 1.4rem;
  padding: 10px;
  display: table;
  position: relative;
  width: 100%;
}

/* Table */
.table {
  width: 100%;
}
.table thead {
  background: #005794;
  color: #fff;
  font-weight: bold;
}
.table tbody tr:nth-child(even) {
  background-color: #fff;
}
.table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.table td, .table th {
  border: 1px solid #eeeeee;
  padding: 20px;
}

/****
 *
 * Accordions
 *
 ****/
.paragraph--type--accordion .card,
.paragraph--type--accordion .card-header {
  border: none;
  border-radius: 0;
  padding: 0;
}
.paragraph--type--accordion .card a,
.paragraph--type--accordion .card-header a {
  text-decoration: none;
}
.paragraph--type--accordion .card-header {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2px;
}
.paragraph--type--accordion .card-header a {
  display: block;
  padding: 11px 20px;
}
.paragraph--type--accordion .card-body {
  border: 1px solid #a7a7a7;
  margin-bottom: 4px;
  padding: 28px 34px;
}
.paragraph--type--accordion [aria-expanded=true] {
  background-color: #005794;
  color: #fff;
}

/****
 *
 * Buttons
 *
 ****/
html input[type=button],
input[type=reset],
input[type=submit],
button,
.button,
a.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #005794;
  border: 2px solid #005794;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10.5px 50px;
}
html input[type=button]:hover, html input[type=button]:focus, html input[type=button]:active,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=reset]:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
button:hover,
button:focus,
button:active,
.button:hover,
.button:focus,
.button:active,
a.button:hover,
a.button:focus,
a.button:active {
  background: none;
  color: #005794;
}
html input[type=button].button,
input[type=reset].button,
input[type=submit].button,
button.button,
.button.button,
a.button.button {
  background-color: #005794;
  border: 2px solid #005794;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10.5px 50px;
}
html input[type=button].button:hover, html input[type=button].button:focus, html input[type=button].button:active,
input[type=reset].button:hover,
input[type=reset].button:focus,
input[type=reset].button:active,
input[type=submit].button:hover,
input[type=submit].button:focus,
input[type=submit].button:active,
button.button:hover,
button.button:focus,
button.button:active,
.button.button:hover,
.button.button:focus,
.button.button:active,
a.button.button:hover,
a.button.button:focus,
a.button.button:active {
  background: none;
  color: #005794;
}
html input[type=button].button-orange,
input[type=reset].button-orange,
input[type=submit].button-orange,
button.button-orange,
.button.button-orange,
a.button.button-orange {
  background-color: #E84708;
  border: 2px solid #E84708;
  color: #fff;
}
html input[type=button].button-orange:hover, html input[type=button].button-orange:focus, html input[type=button].button-orange:active,
input[type=reset].button-orange:hover,
input[type=reset].button-orange:focus,
input[type=reset].button-orange:active,
input[type=submit].button-orange:hover,
input[type=submit].button-orange:focus,
input[type=submit].button-orange:active,
button.button-orange:hover,
button.button-orange:focus,
button.button-orange:active,
.button.button-orange:hover,
.button.button-orange:focus,
.button.button-orange:active,
a.button.button-orange:hover,
a.button.button-orange:focus,
a.button.button-orange:active {
  background: none;
  color: #E84708;
}
html input[type=button].button-inverted,
input[type=reset].button-inverted,
input[type=submit].button-inverted,
button.button-inverted,
.button.button-inverted,
a.button.button-inverted {
  background-color: #fff;
  border: 2px solid #fff;
  color: #005794;
}
html input[type=button].button-inverted:hover, html input[type=button].button-inverted:focus, html input[type=button].button-inverted:active,
input[type=reset].button-inverted:hover,
input[type=reset].button-inverted:focus,
input[type=reset].button-inverted:active,
input[type=submit].button-inverted:hover,
input[type=submit].button-inverted:focus,
input[type=submit].button-inverted:active,
button.button-inverted:hover,
button.button-inverted:focus,
button.button-inverted:active,
.button.button-inverted:hover,
.button.button-inverted:focus,
.button.button-inverted:active,
a.button.button-inverted:hover,
a.button.button-inverted:focus,
a.button.button-inverted:active {
  background-color: #005794;
  color: #fff;
}
html input[type=button].button-hollow,
input[type=reset].button-hollow,
input[type=submit].button-hollow,
button.button-hollow,
.button.button-hollow,
a.button.button-hollow {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}
html input[type=button].button-hollow:hover, html input[type=button].button-hollow:focus, html input[type=button].button-hollow:active,
input[type=reset].button-hollow:hover,
input[type=reset].button-hollow:focus,
input[type=reset].button-hollow:active,
input[type=submit].button-hollow:hover,
input[type=submit].button-hollow:focus,
input[type=submit].button-hollow:active,
button.button-hollow:hover,
button.button-hollow:focus,
button.button-hollow:active,
.button.button-hollow:hover,
.button.button-hollow:focus,
.button.button-hollow:active,
a.button.button-hollow:hover,
a.button.button-hollow:focus,
a.button.button-hollow:active {
  background-color: #fff;
  color: #005794;
}

/****
 *
 * Inputs
 *
 ****/
label {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 4px;
  text-align: left;
}

form .form-item {
  margin: 20px 0 25px;
}
form input[type=search],
form input[type=text],
form input[type=email],
form .form-textarea,
form textarea,
form .form-text,
form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  background-color: #eeeeee;
  border: none;
  box-shadow: none;
  padding: 11px 20px;
  outline: none;
  width: 100%;
}
form input[type=search]:focus,
form input[type=text]:focus,
form input[type=email]:focus,
form .form-textarea:focus,
form textarea:focus,
form .form-text:focus,
form select:focus {
  box-shadow: none;
  border-color: #005794;
}
form textarea:focus {
  border-color: #005794;
  outline: 0 none;
}
form input[type=checkbox],
form input[type=radio] {
  color: #282B2C;
  font-size: 1.5rem;
  margin-top: 0.2em;
  margin-right: 0.5em;
}
form .form-type-radio,
form .form-type-checkbox {
  margin-bottom: 0;
}
form .form-type-radio label,
form .form-type-checkbox label {
  display: inline-block;
  margin-bottom: 0;
}

select {
  background-image: none;
  background-color: transparent;
  background-image: none;
  background-color: transparent;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  position: relative;
}

/**
 * @file
 * Content-List
 *
 ****
 *
 * Article Listing
 * Event Listing
 * Directory
 *
 ****
*/
/****
 *
 * Article Listing
 *
 ****/
.view-article-view .post-wrap {
  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 25px;
}
.view-article-view .content-wrap {
  padding: 0;
}
.view-article-view .post-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.333;
}
.view-article-view .post-title a {
  color: #333;
  text-decoration: none;
}
.view-article-view .post-title a:hover, .view-article-view .post-title a:focus, .view-article-view .post-title a:active {
  color: #005794;
}
.view-article-view .post-date {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.view-article-view .post-img img {
  height: auto;
  width: 100%;
}

.view-display-id-block_2 {
  background-color: #F4F5F5;
}
.view-display-id-block_2 .content-wrap {
  padding: 24px 20px;
}

/****
 *
 * Event Listing
 *
 ****/
.view-event-view .event-wrap {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 25px;
}
.view-event-view .time,
.view-event-view .location {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.view-event-view .image-wrap {
  position: relative;
}
.view-event-view .image-wrap img {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 1;
}
.view-event-view .content-wrap {
  margin-left: 80px;
}
.view-event-view .title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.333;
}
.view-event-view .title a {
  color: #333;
  text-decoration: none;
}
.view-event-view .title a:hover, .view-event-view .title a:focus, .view-event-view .title a:active {
  color: #005794;
}

.view-event-view.view-display-id-block_1 {
  background-color: #F4F5F5;
}
.view-event-view.view-display-id-block_1 .content-wrap {
  margin-left: 70px;
  padding: 24px 20px;
}
.view-event-view.view-display-id-block_1 .title {
  font-size: 2.4rem;
  margin-bottom: 6px;
}

.date-wrap {
  position: absolute;
}

.date {
  background-color: #005794;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2;
  padding: 6px 11px 12px 11px;
  text-align: center;
  text-transform: uppercase;
}
.date .date-day {
  font-size: 2.8rem;
}
.date .date-month {
  display: block;
}

/****
 *
 * Directory
 *
 ****/
.view-id-directory.view-display-id-page_1 > .view-content,
.view-id-article_view.view-display-id-block_3 > .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.view-id-directory.view-display-id-page_1 .profile-wrap,
.view-id-article_view.view-display-id-block_3 .profile-wrap {
  background-color: #fff;
}
.view-id-directory.view-display-id-page_1 .full-name,
.view-id-article_view.view-display-id-block_3 .full-name {
  font-size: 2rem;
  font-weight: bold;
}
.view-id-directory.view-display-id-page_1 .full-name a,
.view-id-article_view.view-display-id-block_3 .full-name a {
  color: #333;
}
.view-id-directory.view-display-id-page_1 .profile-title,
.view-id-article_view.view-display-id-block_3 .profile-title {
  margin-bottom: 14px;
}
.view-id-directory.view-display-id-page_1 .credentials,
.view-id-article_view.view-display-id-block_3 .credentials {
  color: #666;
  font-size: 1.6rem;
}
.view-id-directory.view-display-id-page_1 .department,
.view-id-article_view.view-display-id-block_3 .department {
  font-size: 1.4rem;
}
.view-id-directory.view-display-id-page_1 ul,
.view-id-article_view.view-display-id-block_3 ul {
  list-style: none;
  padding: 0;
}
.view-id-directory.view-display-id-page_1 a,
.view-id-article_view.view-display-id-block_3 a {
  color: #E84708;
  text-decoration: none;
}
.view-id-directory.view-display-id-page_1 .item-list,
.view-id-article_view.view-display-id-block_3 .item-list {
  font-size: 1.4rem;
}
.view-id-directory.view-display-id-page_1 .fa,
.view-id-article_view.view-display-id-block_3 .fa {
  color: #E84708;
  font-size: 1.8rem;
}

/**
 * @file
 * Color
 *
 ****
 *
 * Color Page Styles
 * Primary Colors
 * Secondary Colors 
 * Patterns
 *
 ****
*/
/****
 *
 * Color Page Styles
 *
 ****/
.color-container {
  margin-bottom: 20px;
}
.color-container > div {
  font-size: 1.2rem;
  height: 75px;
  line-height: 1;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}
.color-container .color-name {
  color: #666;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.5;
  line-height: 2;
  margin: 0px;
  padding: 0px;
}
.color-container .color-hex {
  margin-top: 0px;
  padding-top: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
  line-height: 12px;
}
.color-container .color-light {
  color: #333;
}
.color-container .color-light p {
  color: #333;
}
.color-container .color-dark {
  color: #fff;
}
.color-container .color-dark p {
  color: #fff;
}
.color-container .color-inner {
  position: relative;
}
.color-container .color-inner:after {
  background-color: #fff;
  bottom: 0;
  color: #B6BD00;
  content: "";
  font-family: "FontAwesome";
  font-size: 1.2rem;
  left: 0;
  line-height: 1.3;
  text-align: center;
  padding: 1px 2px;
  position: absolute;
  width: 16px;
}
.color-container .color-inner:before {
  background-color: #000;
  bottom: 0;
  color: #B6BD00;
  content: "";
  font-family: "FontAwesome";
  font-size: 1.2rem;
  left: 16px;
  line-height: 1.3;
  text-align: center;
  padding: 1px 2px;
  position: absolute;
  width: 16px;
}
.color-container .color-inner.access-white-pass:after {
  color: #B6BD00;
  content: "";
}
.color-container .color-inner.access-white-fail:after {
  color: #CF0A2C;
  content: "";
}
.color-container .color-inner.access-black-pass:before {
  color: #B6BD00;
  content: "";
}
.color-container .color-inner.access-black-fail:before {
  color: #CF0A2C;
  content: "";
}
.color-container .color-inner .color-popup {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: #333;
  font-size: 1.4rem;
  line-height: 1;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: left;
  text-transform: none;
  top: 0;
  transition: all 0.1s ease-in;
}
.color-container .color-inner .color-popup b {
  text-transform: uppercase;
}
.color-container .color-inner:hover .color-popup {
  opacity: 1;
  right: 10px;
  top: -60px;
}
@media (min-width: 768px) {
  .color-container .color-inner:hover .color-popup {
    right: -20px;
  }
}

/****
 *
 * Primary Colors
 *
 ****/
.color-blue {
  background-color: #005794;
}

.color-green {
  background-color: #A7DBD8;
}

/****
 *
 * Secondary Colors
 *
 ****/
/* secondary colors */
.color-red {
  background-color: #BD1B00;
}

.color-orange {
  background-color: #E84708;
}

.color-yellow {
  background-color: #FDC300;
}

/****
 *
 * Neutral Colors
 *
 ****/
/* secondary colors */
.color-grey-xlt {
  background-color: #f5f5f5;
}

.color-grey-lt {
  background-color: #eeeeee;
}

.color-grey {
  background-color: #d8d8d8;
}

.color-grey-dk {
  background-color: #959595;
}

.color-black {
  background-color: #282B2C;
}

/****
 *
 * Patterns
 *
 ****/
#patterns .color-item {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#patterns .color-item a {
  display: none;
  color: #333;
  text-decoration: none;
  background: #F4F5F5;
  padding: 16px 8px;
}
#patterns .color-item:hover a {
  display: block;
  cursor: pointer;
}
#patterns .secondary0 {
  min-height: 70px;
  background-color: #F4F5F5;
}
#patterns .secondary0.texture1 {
  background-image: url(../images/texture.jpg);
}
#patterns .secondary0.pattern1 {
  background-image: url(../images/pattern.jpg);
}

/*# sourceMappingURL=../css/style.css.map */
