<ul class="menu">
  <li><a href="/events" class="events-list"><i class="fas fa-th"></i> {{ "List"|t }}</a></li>
  <li><a href="/events-calendar" class="events-calendar"><i class="fas fa-list"></i> {{ "Calendar"|t }}</a></li>
</ul>