.region-sidebar-left {
  .block {
    margin-bottom: 25px;
    h2 {
      line-height: 3.2rem;
      font-size: 2.4rem;
      color: #333;
      margin-bottom: 12px;
      font-weight: 600;
    }
  }
  .sidebar-menu-block {
    background: #f5f5f5;
    line-height: 2.6rem;
    padding: 20px 0;
    .menu {
      .menu__item {
        cursor: pointer;
        .menu__link {
          padding: 10px 30px 10px 30px;
          text-decoration: none;
          color: #4a4a4a;
          &.is-active, &:hover, &:focus {
            color: #005794 !important;
          }
        }
        &.dropdown-item {
          .menu__link {
            padding-right: 0;
            width: calc(100% - 45px);
            display: inline-block !important;
          }
        }
        &:hover, &:focus {
          background: none;
          > .menu__link, > svg {
            color: #4a4a4a;
            cursor: pointer;
          }
        }
        .toggle-wrapper {
          display: inline-block;
          padding: 10px;
        }
        svg {
          font-size: 2rem;
          color: #005794;
          outline: none;
          text-decoration: none;
        }
        ul {
          .menu__item {
            .menu__link {
              padding: 6px 0 6px 40px;
              font-size: 1.6rem;
              line-height: 2.1rem;
            }
            ul {
              .menu__item {
                .menu__link {
                  padding: 6px 0 6px 50px;
                }
              }
            }
            .fa {
              height: 34px;
            }
          }
        }
      }
      &.menu-level-0 {
        &> .menu__item {
          &> a {
            font-weight: bold;
          }
        }
        .menu-level-1 {
          .menu__item {
            .menu__link {
              padding: 4px 0 4px 40px;
              min-height: auto;
              height: auto;
            }
          }
        }
      }
    }
  }
  .block-ctools-block {
    .paragraph--type--quick-link {
      margin-top: 0;
      a {
        padding-left: 0;
        padding-right: 0;
        text-decoration: none;
        font-size: 1.6rem;
        border-top: 2px solid #e9e9e9;
      }
    }

    .paragraph--type--wysiwyg {
      margin-top: 15px;
      h4 {
        font-weight: 600;
        line-height: 3.2rem;
        font-size: 2.4rem;
        color: #333;
        margin-bottom: 12px;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.6;
      }
    }
  }

  .paragraph--type--cta-buttons {
    margin-top: 15px;
    .field--name-field-links {
      .field__item {
        a {
          @include button_orange();
          width: 100%;
          margin-bottom: 15px;
        }
        &:nth-child(2) {
          a {
            @include button();
          }
        }
        &:last-child {
          a {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

}

.block-views-blockarticle-view-block-5 {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

// Academics page blocks
.path-academics {
  .region-hero {
    position: relative;
    .menu--academics-menu {
      max-width: 1200px;
      width: 100%;
      margin: 2rem auto 0 auto;
      ul.menu {
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        li {
          margin: 0 2px;
          padding-top: 0.2em;
          a {
            font-size: 18px;
            color: $gray-darker;
            padding: 8px 15px;
            text-decoration: none;
            display: block;
          }
          &.menu-item--active-trail {
            a.is-active {
              background: $color-grey-bg;
            }
          }
        }
      }
    }
    .view-academic-filter-taxonomy-terms {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      .view-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto !important;
        .filter-toggle {
          cursor: pointer;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          .fontawesome-icon {
            margin-bottom: .5rem;
            svg {
              font-size: 3rem;
            }
          }
          &.active {
            color: $color-blue;
          }
        }
      }
      .view-footer {
        margin-top: 30px;
        border-top: 2px solid $color-grey-lt;
        padding-top: 18px;
        text-align: center;
        .isotope-reset {
          color: $color-blue;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}

.block-events-switch-block {
  @media screen and #{$tablet-min} {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
  }
  ul {
    display: flex;
    flex-direction: row;
    li {
      a {
        padding: 1.3rem 4rem;
        display: block;
        background: #f5f5f5;
        font-size: 1.4rem;
        line-height: 1;
        color: $color-blue;
        font-weight: bold;
        text-decoration: none;

        svg {
          margin-right: .8rem;
        }

        &:hover,
        &:focus {
          color: $color-white;
          background: #E84708;
        }
      }
    }
  }
}

.path-events-calendar {
  .block-events-switch-block {
    ul {
      li {
        a.events-calendar {
          color: $color-white;
          background: #E84708;
        }
      }
    }
  }
}

.path-events {
  .block-events-switch-block {
    ul {
      li {
        a.events-list {
          color: $color-white;
          background: #E84708;
        }
      }
    }
  }
}

.block-kwall-site-alert {
  background: #FFCF01;
  box-shadow: none;
  overflow: hidden;
  width: 100%;
  .alert {
    padding: 10px 0;
  }
  .alert-headline {
    font-weight: bold;
  }
  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
  }
}
