.container {
  max-width: $width-page;
}

.layout-container {
  min-height: unset;
}

.node__content {
  margin-bottom: 6rem;

  h1 {
    font-size: 4rem;
    line-height: 5.2rem;
    margin-bottom: 2rem;
  }
}

.views-page-title h2, h1.page-title {
  font-size: 5.2rem;
  line-height: 5.2rem;
  margin-bottom: 10px;
  @media (max-width: $screen-tablet-max) {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
}
h1.page-title {
  margin-bottom: 25px;
}
.node {
  .field--name-body {
    margin-bottom: 40px;
  }
}

.section-title {
  @include section_title();
}

.slick-dots {
  bottom: auto;
  margin-top: 2rem;
  position: relative;

  li {
    margin: 0;

    button {
      width: 12px;
      height: 12px;
      background: #696666;
      border-radius: 100%;

      &:before {
        display: none;
      }
    }

    &.slick-active {
      button {
        background: none;
        border: 2px solid #696666;
        width: 10px;
        height: 10px;
      }
    }
  }
}

figure {
  &.embedded-entity {
    width: 48%;

    img {
      width: 100%;
    }

    &.align-right {
      article {
        margin-left: 20px;
      }

      figcaption {
        margin-left: 20px;
        width: calc(100% - 20px);
        padding: 18px 25px;
        font-size: 16px;
      }
    }

    &.align-left {
      article {
        margin-right: 20px;
      }

      figcaption {
        margin-right: 20px;
        width: calc(100% - 20px);
        padding: 18px 25px;
        font-size: 16px;
      }
    }

    article {
      p {
        margin-bottom: 0;
      }
    }

    figcaption {
      border: 1px solid #eee;
    }

    &.align-right, &.align-right {
      @media (max-width: $screen-mobile) {
        width: 100%;
        article {
          margin: 0;
        }
        figcaption {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

nav.pager {
  text-align: center;
  margin-top: 20px;

  .pager__items {
    display: inline-block;

    .pager__item {
      padding: 0;
      display: block;
      float: left;
      margin-left: -1px;

      a {
        display: inline-block;
        padding: 9px 18px;
        color: #005794;

        &:hover, &:focus, &:active {
          color: #fff;
          background-color: $color-orange;
        }
      }

      &.is-active {
        a {
          font-weight: normal;
          color: #fff;
        }
      }

      &--next, &--previous, &--last, &--first {
        a {
          &:hover, &:focus, &:active {
            background: none;
            color: $color-orange;
          }
        }
      }
    }
  }
}
.node__content {
  .field--name-field-intro {
    font-size: 2.4rem;
    line-height: 3.4rem;
    margin-bottom: 15px;
  }
}


.page-node-type-page {
  .node__content {
    margin-bottom: 0;
  }
}

.intro-text {
  p {
    font-size: 24px;
    line-height: 34px;
  }
}
