{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_id,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_id,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container gridder-container">
      <div class="row">
        {% block content %}

          <ul class="gridder d-block">
            {% for key, item in content.field_gridder_items if key|first != '#' %}
              {% set paragraph_id = 'cta-block-' ~ item['#paragraph'].id.value %}
              <li class="gridder-list col-md-3 col-sm-12" data-griddercontent="#{{ paragraph_id }}">
                <div class="icon-tile">
                  {% if content.field_gridder_items[key]['#paragraph'].field_image.0.entity.field_media_image_12.entity.uri.value != '' %}
                    <div class="icon-wrap"><img src="{{ file_url(content.field_gridder_items[key]['#paragraph'].field_image.0.entity.field_media_image_12.entity.uri.value) }}" /></div>
                  {% endif %}
                  <div class="title">{{ item['#paragraph'].field_title.0.value|raw }}</div>
                  {% set excerpt = item['#paragraph'].field_body_formatted.0.value|striptags |length > 75 ? item['#paragraph'].field_body_formatted.0.value|striptags |slice(0, 75) ~ '...<span>Learn More</span>' : item['#paragraph'].field_body_formatted.0.value|striptags %}
                  <div class="excerpt">{{ excerpt|raw }}</div>
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="hidden">
            {% for key, item in content.field_gridder_items if key|first != '#' %}
              {% set paragraph_id = 'cta-block-' ~ item['#paragraph'].id.value %}
              <div id="{{ paragraph_id }}" class="gridder-content">{{ item['#paragraph'].field_body_formatted.0.value|raw }}</div>
            {% endfor %}
          </div>

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
