@charset "UTF-8";
/**
 * @file
 * Style
 *
 ****
 *
 * Style imports
 *
 ****/
@import url("../fonts/fonts.css");
/**
 * $file
 * Variables
 *
 ****
 *
 * Page Widths
 * Fonts
 * Colors
 *
 ****
*/
/****
 *
 * Page Widths
 *
 ****/
/****
 *
 * Fonts
 *
 ****/
/****
 *
 * Colors
 *
 ****/
/**
 * @file
 * Styleguide
 *
 ****
 *
 * Styleguide Page Styles
 * Styleguide Typography
 * Welcome page
 * Styleguide Header & Footer
 * Code Blocks
 * Icons
 * Columns
 *
 ****




/****
 *
 * Styleguide Page Styles
 *
 ****/
.style-wrap {
  min-width: 300px;
  max-width: 1150px;
  margin: auto;
  padding: 0 2.5rem; }

body {
  padding-top: 10rem; }
  @media (max-width: 767px) {
    body {
      padding-top: 5rem; } }

.style-dark {
  background-image: linear-gradient(-40deg, #1E3F84 0%, #22499B 73%);
  padding-top: 1rem; }
  .style-dark .style-header,
  .style-dark label {
    color: #fff; }

.style-grey {
  background-image: url(../images/Stone-white-texture.jpg); }

#buttons button {
  display: block;
  margin-bottom: 10px; }
#buttons a.button {
  margin-bottom: 10px; }

/****
 *
 * Styleguide Typography
 *
 ****/
.style-header {
  clear: both;
  color: #999;
  display: inline-block;
  font-family: "roboto_slabregular", "Courier Bold", Courier, Georgia, Times, serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin-bottom: 3rem;
  margin-top: 9rem;
  padding: 0px;
  padding-left: 20px;
  text-transform: uppercase;
  text-indent: none;
  width: 100%; }
  @media (max-width: 767px) {
    .style-header {
      margin-bottom: 2rem;
      margin-top: 6rem; } }

div .style-header {
  padding-left: 0; }

.style-caption {
  color: #999;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  margin-top: -3rem; }

.two-letter {
  float: left;
  font-size: 8rem;
  line-height: 58px;
  margin-right: 1rem; }

.text-right {
  text-align: right; }

.body-font-light {
  font-family: "robotolight", "Helvetica", Arial, sans-serif; }

.body-font {
  font-family: "robotoregular", "Helvetica", Arial, sans-serif; }

.body-font-bold {
  font-family: "robotobold", "Helvetica", Arial, sans-serif; }

.header-font {
  font-family: "roboto_slabregular", "Courier Bold", Courier, Georgia, Times, serif; }

.header-font-bold {
  font-family: "roboto_slabbold", "Courier Bold", Courier, Georgia, Times, serif; }

.header-font-condensed {
  font-family: "roboto_condensedbold", "Arial Narrow", Arial, sans-serif; }

.style-regular {
  font-weight: normal;
  font-style: normal; }

.style-bold {
  font-weight: 700; }

.style-italic {
  font-style: italic; }

span.inline-label {
  float: left;
  margin-right: 10px;
  margin-top: 7px; }

/****
 *
 * Welcome page
 *
 ****/
#welcome {
  text-align: center;
  margin: 0 auto 5rem auto;
  max-width: 60rem; }
  #welcome h1 {
    color: #1E3F84; }
  #welcome hr {
    width: 15rem; }
  #welcome p {
    color: #8c8c8c; }

/* Invision */
#links {
  text-align: center; }
  #links h3 {
    color: #a7a7a7; }
  #links ul {
    padding: 0; }
  #links li {
    list-style: none; }
    #links li a {
      color: #1E3F84; }
  #links > div {
    background: #F4F5F5; }

/****
 *
 * Styleguide Header & Footer
 *
 ****/
.style-navbar .navbar-nav > li > a.active {
  border-bottom: 2px solid #1E3F84; }
  @media (max-width: 767px) {
    .style-navbar .navbar-nav > li > a.active {
      background-color: #1E3F84;
      color: #fff; } }

@media (max-width: 767px) {
  .style-navbar .navbar-collapse {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3); } }
.style-navbar .navbar-brand a {
  color: #333; }
  .style-navbar .navbar-brand a span:before {
    content: "|";
    font-size: 2rem;
    margin: 0 1rem; }
  .style-navbar .navbar-brand a:hover {
    text-decoration: none; }
.style-navbar .navbar-brand img {
  display: inline-block;
  margin-right: 10px;
  margin-top: -15px;
  max-width: 40px;
  vertical-align: middle; }

.style-navbar a {
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase; }

.style-footer {
  border-top: 1px solid #F4F5F5;
  clear: both;
  font-size: 1.2rem;
  margin-top: 5rem;
  padding: 2rem 2% 1rem;
  text-transform: uppercase; }

/****
 *
 * Code Blocks
 *
 ****/
pre {
  background: #f9fafc;
  border-color: #e0e6ed;
  border-radius: 2px;
  font-size: 1.2rem;
  margin: 1rem 0 3rem 0; }

.hljs {
  background: none;
  padding: 0; }

.description {
  color: #777;
  font-size: 1.2rem;
  line-height: 18px; }

/****
 *
 * icons
 *
 ****/
#icons p {
  font-size: 1rem;
  vertical-align: middle; }
  #icons p .fa {
    font-size: 2rem;
    vertical-align: middle; }

/****
 *
 * columns
 *
 ****/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-right: -10px;
  margin-left: -10px; }

/**
 * @file
 * Elements
 *
 ****
 *
 * Typography
 * Lists 
 *
 ****
*/
/****
 *
 * Typography
 *
 ****/
html {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "robotoregular", "Helvetica", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.444;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "roboto_slabbold", "Courier Bold", Courier, Georgia, Times, serif;
  letter-spacing: 0; }

h1 {
  font-size: 4.6rem;
  line-height: 1.1; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-size: 3rem;
  line-height: 1.3; }

h4 {
  font-size: 2.6rem;
  line-height: 1.26; }

h5 {
  font-size: 2.2rem;
  line-height: 1.22; }

h6 {
  font-size: 1.8rem;
  line-height: 1.16; }

.lead {
  font-size: 2rem; }

a {
  color: #1A2D57; }
  a:visited {
    text-decoration: none;
    background-color: auto; }

.more-link {
  color: #1E3F84;
  font-family: "robotobold", "Helvetica", Arial, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase; }
  .more-link:after {
    content: "\f138";
    font-family: "FontAwesome";
    margin-left: 1rem; }

hr {
  border-color: #9B9B9B; }

blockquote {
  border-left: none;
  border-top: 6px solid #1E3F84;
  border-radius: 6px;
  box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.08);
  font-family: "robotolight", "Helvetica", Arial, sans-serif;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.4;
  overflow: hidden;
  padding: 2rem 2.4rem; }
  blockquote:before {
    color: #1E3F84;
    content: "ÔÇ£";
    float: left;
    font-family: 'Lucida Grande';
    font-size: 10rem;
    line-height: 1;
    margin-right: 3rem; }

/****
 *
 * Lists
 *
 ****/
ul li,
ol li {
  line-height: 1.444; }

ul {
  list-style-image: url("../images/bullet.png"); }
  ul ul {
    list-style-image: url("../images/bullet-level-2.png"); }
    ul ul ul {
      list-style-image: url("../images/bullet-level-3.png"); }
      ul ul ul ul {
        list-style-image: url("../images/bullet-level-4.png"); }

ol li {
  padding-left: 15px; }

/**
 * @file
 * Forms
 *
 ****
 *
 * Buttons
 * Inputs 
 * Select List
 *
 ****
*/
/****
 *
 * Buttons
 *
 ****/
html input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button,
a.button {
  background-color: #E83E3E;
  border: 2px solid #E83E3E;
  border-radius: 5px;
  color: #fff;
  font-family: "roboto_condensedbold", "Arial Narrow", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.3333;
  padding: 1.65rem 2.6rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-out; }
  html input[type="button"]:hover, html input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  button:hover,
  button:focus,
  .button:hover,
  .button:focus,
  a.button:hover,
  a.button:focus {
    color: #333;
    background: none; }
  html input[type="button"].button-small,
  input[type="reset"].button-small,
  input[type="submit"].button-small,
  button.button-small,
  .button.button-small,
  a.button.button-small {
    padding: 1.15rem 2.6rem; }
  html input[type="button"].button-gold,
  input[type="reset"].button-gold,
  input[type="submit"].button-gold,
  button.button-gold,
  .button.button-gold,
  a.button.button-gold {
    background-color: #FFDF00;
    border-color: #FFDF00;
    color: #1E3F84; }
    html input[type="button"].button-gold:hover,
    input[type="reset"].button-gold:hover,
    input[type="submit"].button-gold:hover,
    button.button-gold:hover,
    .button.button-gold:hover,
    a.button.button-gold:hover {
      background: none; }
  html input[type="button"].button-hollow-gold,
  input[type="reset"].button-hollow-gold,
  input[type="submit"].button-hollow-gold,
  button.button-hollow-gold,
  .button.button-hollow-gold,
  a.button.button-hollow-gold {
    background: none;
    border-color: #FFDF00;
    color: #FFDF00; }
    html input[type="button"].button-hollow-gold:hover,
    input[type="reset"].button-hollow-gold:hover,
    input[type="submit"].button-hollow-gold:hover,
    button.button-hollow-gold:hover,
    .button.button-hollow-gold:hover,
    a.button.button-hollow-gold:hover {
      background: #FFDF00;
      color: #1A2D57; }
  html input[type="button"].button-hollow-white,
  input[type="reset"].button-hollow-white,
  input[type="submit"].button-hollow-white,
  button.button-hollow-white,
  .button.button-hollow-white,
  a.button.button-hollow-white {
    background: none;
    border-color: #fff;
    color: #fff; }
    html input[type="button"].button-hollow-white:hover,
    input[type="reset"].button-hollow-white:hover,
    input[type="submit"].button-hollow-white:hover,
    button.button-hollow-white:hover,
    .button.button-hollow-white:hover,
    a.button.button-hollow-white:hover {
      background: #fff;
      color: #1A2D57; }
  html input[type="button"].button-hollow-blue,
  input[type="reset"].button-hollow-blue,
  input[type="submit"].button-hollow-blue,
  button.button-hollow-blue,
  .button.button-hollow-blue,
  a.button.button-hollow-blue {
    background: none;
    border-color: #1E3F84;
    color: #1E3F84; }
    html input[type="button"].button-hollow-blue:hover,
    input[type="reset"].button-hollow-blue:hover,
    input[type="submit"].button-hollow-blue:hover,
    button.button-hollow-blue:hover,
    .button.button-hollow-blue:hover,
    a.button.button-hollow-blue:hover {
      background: #1E3F84;
      color: #fff; }

.button.disabled {
  cursor: not-allowed;
  opacity: 0.5; }
  .button.disabled:hover {
    background: auto;
    text-decoration: none; }

/****
 *
 * Inputs
 *
 ****/
label {
  color: #4A4A4A;
  display: block;
  font-family: "robotobold", "Helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3125;
  margin-bottom: 4px;
  text-align: left; }

form .form-item {
  margin: .25em 0 2.5rem; }
form input[type='search'],
form input[type='text'],
form input[type='email'],
form .form-textarea,
form textarea,
form .form-text,
form select {
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  box-shadow: none;
  padding: 1.05rem 1.7rem;
  transition: all 0.2s ease-out;
  -webkit-appearance: none;
  width: 100%; }
  form input[type='search']:focus,
  form input[type='text']:focus,
  form input[type='email']:focus,
  form .form-textarea:focus,
  form textarea:focus,
  form .form-text:focus,
  form select:focus {
    box-shadow: none;
    border-color: #1E3F84;
    outline: 0 none !important; }
form textarea:focus {
  border-color: #1A2D57;
  outline: 0 none; }
form input[type="checkbox"],
form input[type="radio"] {
  color: #222;
  font-size: 1.5rem;
  margin-top: .2em;
  margin-right: .5em; }
form .form-type-radio,
form .form-type-checkbox {
  margin-bottom: 0; }
  form .form-type-radio label,
  form .form-type-checkbox label {
    display: inline-block;
    margin-bottom: 0; }

/****
 *
 * Select List
 *
 ****/
.form-item.webform-component-select {
  margin-bottom: 1.5rem;
  position: relative;
  text-align: left; }
  .form-item.webform-component-select select {
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
    background-color: #fff;
    background: url(../images/select-arrow.png) no-repeat center right 2rem;
    background-size: 1.2rem auto; }

/**
 * @file
 * Content-List
 *
 ****
 *
 * List Style
 * Event Listing
 * Person Listing
 *
 ****
*/
/****
 *
 * List Style
 * Generic Listing Styles
 *
 ****/
.date {
  background: #1E3F84;
  border-radius: 0 0 5px 5px;
  border-top: 6px solid #4670C9;
  display: inline-block;
  left: 0;
  margin: -6px 1rem 1rem 1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0; }
  .date p {
    font-size: 0;
    line-height: 0;
    margin: 0; }
  .date span {
    color: #fff; }
  .date .day {
    font-family: "robotobold", "Helvetica", Arial, sans-serif;
    font-size: 4.5rem;
    line-height: 1; }
  .date .month {
    background-color: #1A2D57;
    display: block;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding: 4px 15.5px 8px 15.5px;
    text-transform: uppercase;
    width: 8.2rem; }

.listing-view .views-row {
  border-bottom: 6px solid #EEEEED;
  display: inline-block;
  font-size: 0;
  padding-bottom: 3rem;
  width: 100%; }
.listing-view .date-image-wrapper {
  position: relative; }
.listing-view .field-name-field-image {
  border-radius: 6px;
  float: left;
  overflow: hidden;
  margin-right: 15px; }
  .listing-view .field-name-field-image img {
    height: auto;
    width: 100%; }
  @media (max-width: 490px) {
    .listing-view .field-name-field-image {
      float: none;
      margin-bottom: 1.5rem;
      margin-right: 0; } }
.listing-view .views-field-title, .listing-view .field-title-field {
  color: #333;
  font-family: "roboto_slabbold", "Courier Bold", Courier, Georgia, Times, serif;
  font-size: 2.6rem;
  line-height: 1.269;
  margin-bottom: 1rem; }
  .listing-view .views-field-title a, .listing-view .field-title-field a {
    color: #333;
    text-decoration: none; }
.listing-view .field-type-date,
.listing-view .field-type-author,
.listing-view .field-type-time {
  display: inline-block;
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 1rem; }
.listing-view .field-type-date + .field-type-author:before,
.listing-view .field-type-date + .field-type-time:before {
  content: "|";
  margin: 0 1rem; }
.listing-view .field-name-field-body {
  font-size: 1.6rem;
  margin-bottom: 0.8rem; }
.listing-view .field-role,
.listing-view .views-field-role {
  display: inline-block;
  font-family: "robotolight", "Helvetica", Arial, sans-serif;
  font-style: italic;
  font-size: 1.6rem; }
.listing-view .field-department,
.listing-view .views-field-department {
  display: inline-block;
  font-family: "robotolight", "Helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 1rem; }
.listing-view .field-phone,
.listing-view .field-email,
.listing-view .field-location {
  color: #1E3F84;
  font-family: "robotolight", "Helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0.7rem; }
  .listing-view .field-phone i,
  .listing-view .field-email i,
  .listing-view .field-location i {
    margin-right: 1rem; }
.listing-view .views-field-view-node {
  line-height: 1; }

/****
 *
 * Event Listing
 *
 ****/
.event-listing .views-row {
  background-color: rgba(255, 255, 255, 0.65);
  border-bottom: none;
  border-top: 6px solid #1E3F84;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  transition: all 0.2s ease-out; }
  .event-listing .views-row:hover, .event-listing .views-row:active, .event-listing .views-row:focus {
    background-color: white;
    border-color: #E83E3E;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none; }
.event-listing .field-name-field-image {
  border-radius: 0 0 5px 5px; }
.event-listing .list-text-wrapper {
  margin-left: 9rem;
  padding: 1.2rem 2rem 2rem 2rem; }
.event-listing .views-field-title {
  font-size: 1.8rem;
  margin-bottom: 1rem; }

/****
 *
 * Person Listing
 *
 ****/
.directory-listing .views-row {
  background-color: #EEEEED;
  border-radius: 6px;
  border-bottom: none;
  border-top: 6px solid #1E3F84;
  overflow: hidden;
  padding: 2rem;
  transition: all 0.2s ease-out; }
  .directory-listing .views-row:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: #E83E3E;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3); }
.directory-listing .field-name-field-image {
  border-radius: 0;
  margin: 0;
  margin-bottom: 2rem; }
.directory-listing .list-info-wrapper {
  margin-bottom: 1.8rem;
  margin-left: 180px; }
  @media (max-width: 767px) {
    .directory-listing .list-info-wrapper {
      margin-left: 0; } }
.directory-listing .list-text-wrapper {
  display: block; }
.directory-listing .faculty-title {
  color: #a7a7a7;
  font-family: 2.2rem;
  margin-top: 0; }
.directory-listing .field-role + .field-department:before,
.directory-listing .views-field-role + .views-field-department:before {
  content: "-";
  margin: 0 1rem; }
.directory-listing hr {
  margin: 0 0 1.4rem 0; }

.directory-listing-grid {
  padding: 5rem 0; }
  .directory-listing-grid .views-row {
    border: none;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 0;
    transition: all 0.2s ease-out; }
    .directory-listing-grid .views-row:hover, .directory-listing-grid .views-row:active, .directory-listing-grid .views-row:focus {
      box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.08);
      text-decoration: none; }
      .directory-listing-grid .views-row:hover .field-name-field-image, .directory-listing-grid .views-row:active .field-name-field-image, .directory-listing-grid .views-row:focus .field-name-field-image {
        border-color: #E83E3E; }
  .directory-listing-grid .field-name-field-image {
    border-bottom: 6px solid #1E3F84;
    border-radius: 0;
    float: none;
    overflow: auto;
    margin: 0;
    transition: all 0.2s ease-out; }
  .directory-listing-grid .list-text-wrapper {
    background-color: #fff;
    padding: 2rem; }
  .directory-listing-grid .views-field-title {
    color: #1A2D57;
    font-size: 1.8rem; }
  .directory-listing-grid .views-field-role,
  .directory-listing-grid .views-field-department {
    display: block;
    font-style: normal; }
  .directory-listing-grid .views-field-role {
    font-family: "robotoregular", "Helvetica", Arial, sans-serif;
    margin-bottom: 1rem; }

/**
 * @file
 * Color
 *
 ****
 *
 * Color Page Styles
 * Primary Colors
 * Secondary Colors 
 * Patterns
 *
 ****
*/
/****
 *
 * Color Page Styles
 *
 ****/
.color-container {
  margin-bottom: 2rem; }
  .color-container > div {
    font-size: 1.2rem;
    height: 7.5rem;
    line-height: 1;
    padding: 1.6rem;
    text-align: center;
    text-transform: uppercase; }
  .color-container .color-name {
    color: #666;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.5;
    line-height: 1.2;
    margin: 0px;
    padding: 0px; }
  .color-container .color-value {
    margin-top: 0px;
    padding-top: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 1.1rem;
    line-height: 12px; }
  .color-container .color-light {
    color: #333; }
    .color-container .color-light p {
      color: #333; }
  .color-container .color-dark {
    color: #fff; }
    .color-container .color-dark p {
      color: #fff; }
  .color-container .color-inner {
    position: relative; }
    .color-container .color-inner:after {
      background-color: #fff;
      bottom: 0;
      color: #44C472;
      content: "\f00c";
      font-family: "FontAwesome";
      font-size: 1.2rem;
      left: 0;
      line-height: 1.3;
      text-align: center;
      padding: 1px 2px;
      position: absolute;
      width: 1.6rem; }
    .color-container .color-inner:before {
      background-color: #000;
      bottom: 0;
      color: #44C472;
      content: "\f00c";
      font-family: "FontAwesome";
      font-size: 1.2rem;
      left: 1.6rem;
      line-height: 1.3;
      text-align: center;
      padding: 1px 2px;
      position: absolute;
      width: 1.6rem; }
    .color-container .color-inner.access-white-pass:after {
      color: #44C472;
      content: "\f00c"; }
    .color-container .color-inner.access-white-fail:after {
      color: #E83E3E;
      content: "\f00d"; }
    .color-container .color-inner.access-black-pass:before {
      color: #44C472;
      content: "\f00c"; }
    .color-container .color-inner.access-black-fail:before {
      color: #E83E3E;
      content: "\f00d"; }
    .color-container .color-inner .color-popup {
      background-color: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      color: #333;
      font-size: 0;
      line-height: 1;
      opacity: 0;
      padding: 1rem;
      position: absolute;
      right: 0;
      text-align: left;
      text-transform: none;
      top: 0;
      transition: all 0.1s ease-in; }
      .color-container .color-inner .color-popup b {
        text-transform: uppercase; }
        .color-container .color-inner .color-popup b.style-pass {
          color: #44C472; }
        .color-container .color-inner .color-popup b.style-fail {
          color: #E83E3E; }
    .color-container .color-inner:hover .color-popup {
      font-size: 1.4rem;
      opacity: 1;
      right: -2rem;
      top: -6rem; }
      @media (max-width: 959px) {
        .color-container .color-inner:hover .color-popup {
          right: 1rem; } }

/****
 *
 * Primary Colors
 *
 ****/
.primary1 {
  background-color: #1A2D57; }

.primary2 {
  background-color: #1E3F84; }

.primary3 {
  background-color: #FFDF00; }

.primary4 {
  background-color: #222; }

/****
 *
 * Secondary Colors
 *
 ****/
/* secondary colors */
.secondary1 {
  background-color: #4670C9; }

.secondary2 {
  background-color: #85A5E9; }

.secondary3 {
  background-color: #E83E3E; }

.secondary4 {
  background-color: #E89B3E; }

.secondary5 {
  background-color: #0CCEC3; }

.secondary6 {
  background-color: #44C472; }

/****
 *
 * Neutral Colors
 *
 ****/
.neutral1 {
  background-color: #CCCCCC; }

.neutral2 {
  background-color: #D2D2D2; }

.neutral3 {
  background-color: #E0E0E0; }

.neutral4 {
  background-color: #EEEEED; }

/****
 *
 * Patterns
 *
 ****/
#patterns .color-item {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }
  #patterns .color-item a {
    display: none;
    color: #333;
    text-decoration: none;
    background: #F4F5F5;
    padding: 16px 8px; }
  #patterns .color-item:hover a {
    display: block;
    cursor: pointer; }
#patterns .secondary0 {
  min-height: 70px;
  background-color: #F4F5F5; }
  #patterns .secondary0.pattern-01 {
    background-image: url(../images/Stone-white-texture.jpg); }

/**
 * @file
 * Component
 *
 ****
 *
 * Tiles
 * Alerts
 * Breadcrumb
 * Slick Slider Generic
 * Flex Slider Generic
 * Pager
 *
 ****
*/
/****
 *
 * Tiles
 *
 ****/
.icon-tile {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 5px;
  border-top: 6px solid #1A2D57;
  display: inline-block;
  overflow: hidden;
  padding: 20px 22px;
  text-align: center;
  transition: all 0.2s ease-out;
  width: 100%; }
  .icon-tile .field-name-field-image {
    border: 2px solid #1A2D57;
    border-radius: 50%;
    height: 80px;
    margin: auto;
    margin-bottom: 30px;
    padding: 14px;
    width: 80px; }
  .icon-tile .field-title {
    color: #4670C9;
    font-family: "roboto_slabregular", "Courier Bold", Courier, Georgia, Times, serif;
    font-size: 1.8rem; }
  .icon-tile:hover, .icon-tile:active, .icon-tile:focus {
    background-color: #1A2D57;
    text-decoration: none; }
    .icon-tile:hover .field-name-field-image, .icon-tile:active .field-name-field-image, .icon-tile:focus .field-name-field-image {
      background-color: #FFDF00;
      border-color: #1A2D57; }
    .icon-tile:hover .field-title, .icon-tile:active .field-title, .icon-tile:focus .field-title {
      color: #fff; }
  @media (max-width: 767px) {
    .icon-tile {
      text-align: left; }
      .icon-tile .field-name-field-image {
        float: left;
        height: 40px;
        margin: 0;
        margin-right: 15px;
        padding: 5px;
        width: 40px; }
        .icon-tile .field-name-field-image img {
          height: auto;
          max-width: 24px; } }

.link-tile {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #EEEEED;
  border-top: 6px solid #1A2D57;
  color: #333;
  display: flex;
  font-family: "roboto_slabbold", "Courier Bold", Courier, Georgia, Times, serif;
  font-size: 2.2rem;
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 100%; }
  .link-tile .field-title {
    flex-grow: 1; }
  .link-tile i {
    color: #1E3F84;
    float: right;
    font-size: 1.4rem;
    line-height: 2; }
  .link-tile:after {
    background-color: #4670C9;
    content: "";
    height: 6px;
    position: absolute;
    right: 14px;
    top: -6px;
    width: 24px; }
  .link-tile:hover, .link-tile:active, .link-tile:focus {
    background-color: #1A2D57;
    color: #fff;
    text-decoration: none; }
    .link-tile:hover i, .link-tile:active i, .link-tile:focus i {
      color: #FFDF00; }

.caption-link-tile {
  background-color: #EEEEED;
  border-radius: 5px;
  border: 2px solid #EEEEED;
  border-top: 6px solid #1A2D57;
  color: #333;
  display: inline-block;
  overflow: hidden;
  padding: 20px;
  transition: all 0.2s ease-out;
  width: 100%; }
  .caption-link-tile .field-title {
    font-family: "roboto_slabbold", "Courier Bold", Courier, Georgia, Times, serif;
    font-size: 2.2rem;
    margin-bottom: 4px; }
  .caption-link-tile:hover, .caption-link-tile:active, .caption-link-tile:focus {
    background-color: #1A2D57;
    color: #fff;
    text-decoration: none; }

/****
 *
 * Alerts
 *
 ****/
.block-kwall-site-alert {
  width: 100%; }
  .block-kwall-site-alert .alert {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    margin: 0; }
    .block-kwall-site-alert .alert a {
      text-decoration: underline; }
      .block-kwall-site-alert .alert a[title=close] {
        text-decoration: none; }
    .block-kwall-site-alert .alert-success {
      background-color: #b8e9ca; }
    .block-kwall-site-alert .alert-warning {
      background-color: #f8e2c7; }
    .block-kwall-site-alert .alert-danger {
      background-color: #f8c7c7; }
    .block-kwall-site-alert .alert .arrow-container {
      float: left;
      margin-right: 10px; }
    .block-kwall-site-alert .alert .close {
      font-size: 2rem;
      opacity: 0.9;
      text-shadow: none; }

/****
 *
 * Breadcrumb
 *
 ****/
.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-transform: capitalize; }
  .breadcrumb ol {
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: 1.2rem;
    padding: 0; }
  .breadcrumb li {
    color: #666;
    font-family: "robotobold", "Helvetica", Arial, sans-serif;
    font-size: 1.4rem;
    padding: 0; }
    .breadcrumb li:after {
      content: "/";
      padding: 0 1rem; }
    .breadcrumb li:last-child:after {
      content: none; }
  .breadcrumb.breadcrumb-inverted li {
    color: #fff; }
  .breadcrumb.breadcrumb-inverted a {
    color: #FFDF00; }

/****
 *
 * Slick Slider Generic
 *
 ****/
.slick-slider button.slick-arrow.slick-next,
.slick--slider button.slick-arrow.slick-next {
  right: 0; }
.slick-slider .slick-arrow,
.slick--slider .slick-arrow {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 2.5px; }
  .slick-slider .slick-arrow i,
  .slick--slider .slick-arrow i {
    color: #333;
    font-size: 2rem; }

.slick-dots {
  padding: 0;
  position: absolute;
  bottom: 15px;
  left: 43%; }
  .slick-dots li {
    color: #fff;
    display: inline-block;
    list-style: none; }
    .slick-dots li button {
      padding: 0;
      color: #F4F5F5;
      background: none;
      border: none; }
      .slick-dots li button i {
        margin-right: 5px;
        font-size: 1.2rem; }

.slide-text {
  position: relative; }
  .slide-text h3 {
    margin-top: 0; }

.slick-slider .slick-dots .slick-active i {
  color: #00a3bf; }

/****
 *
 * Flex Slider Generic
 *
 ****/
.view-content .flexslider {
  border: 0;
  margin: 0 auto; }
  .view-content .flexslider .flex-control-nav.flex-control-paging {
    box-sizing: border-box;
    bottom: 10px;
    text-align: center;
    z-index: 10; }
    .view-content .flexslider .flex-control-nav.flex-control-paging a:focus,
    .view-content .flexslider .flex-control-nav.flex-control-paging a:hover,
    .view-content .flexslider .flex-control-nav.flex-control-paging a.flex-active {
      background: #1E3F84; }
    .view-content .flexslider .flex-control-nav.flex-control-paging li {
      margin: 0 5px;
      padding: 0; }
      .view-content .flexslider .flex-control-nav.flex-control-paging li a {
        background: #F4F5F5; }
        .view-content .flexslider .flex-control-nav.flex-control-paging li a:hover {
          background: #fff; }
  .view-content .flexslider .flex-direction-nav .flex-nav-prev .flex-prev {
    left: 0;
    opacity: 1 !important; }
  .view-content .flexslider .flex-direction-nav .flex-nav-next .flex-next {
    right: 0;
    opacity: 1 !important; }
  .view-content .flexslider .flex-direction-nav a {
    display: block;
    background: none;
    padding: 12px 18px;
    margin: 10px;
    box-sizing: border-box;
    height: 6.3rem;
    width: 5.3rem;
    font-size: 0; }
    .view-content .flexslider .flex-direction-nav a:before {
      color: #fff; }

/****
 *
 * Pager
 *
 ****/
ul.pager li {
  font-size: 1.8rem; }
  ul.pager li > a {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    color: #1E3F84;
    height: 50px;
    padding: 12.5px 19.95px; }
    ul.pager li > a:hover, ul.pager li > a:active, ul.pager li > a:focus {
      background-color: #FFDF00; }
ul.pager .pager-current a {
  background-color: #1E3F84;
  color: #fff; }
  ul.pager .pager-current a:hover, ul.pager .pager-current a:active, ul.pager .pager-current a:focus {
    background-color: #1E3F84;
    color: #fff; }

/**
 * $file
 * wysiwyg
 *
 ****
 *
 * Floats
 * Quicklinks
 * Figures and Tables
 * Tabs & Accordions
 *
 ****
*/
/****
 *
 * Floats
 *
 ****/
.float-left {
  float: left;
  margin-right: 2rem; }

.float-right {
  float: right;
  margin-left: 2rem; }

/****
 *
 * Quicklinks
 *
 ****/
.quicklinks,
.field-section-link {
  padding: 0;
  margin: 0; }
  .quicklinks li,
  .field-section-link li {
    padding: 0; }
    .quicklinks li a,
    .field-section-link li a {
      display: inline-block;
      padding: 1rem; }
      .quicklinks li a:hover, .quicklinks li a:active, .quicklinks li a:focus,
      .field-section-link li a:hover,
      .field-section-link li a:active,
      .field-section-link li a:focus {
        text-decoration: none; }

/****
 *
 * Figures and Tables
 *
 ****/
figure {
  display: table;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  vertical-align: top; }

figcaption {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 0 0 5px 5px;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1.6rem 2.4rem;
  display: table;
  position: relative;
  width: 100%; }

/* Table */
table {
  border-radius: 6px;
  font-size: 1.4rem;
  overflow: hidden;
  width: 100%; }
  table thead {
    background: #1E3F84;
    color: #fff;
    font-family: "robotobold", "Helvetica", Arial, sans-serif; }
    table thead th {
      border: 1px solid #1A2D57; }
  table tbody td {
    border: 1px solid #E0E0E0; }
  table tbody tr:nth-child(even) {
    background-color: #fff; }
  table tbody tr:nth-child(odd) {
    background-color: #F4F5F5; }
  table td, table th {
    padding: 25px 20px; }

/****
 *
 * Tabs & Accordions
 *
 ****/
/* Tabs */
.ui-tabs.ui-widget p {
  margin-top: 0; }
.ui-tabs.ui-widget ul {
  padding: 0; }
  .ui-tabs.ui-widget ul li {
    background: #1A2D57;
    border-bottom: 4px solid #1A2D57;
    display: inline-block;
    list-style: none;
    text-align: center; }
    .ui-tabs.ui-widget ul li a {
      display: block;
      padding: 1rem; }
      .ui-tabs.ui-widget ul li a:hover, .ui-tabs.ui-widget ul li a:active, .ui-tabs.ui-widget ul li a:focus {
        text-decoration: none; }
    .ui-tabs.ui-widget ul li.ui-tabs-active {
      background: #142343; }
      .ui-tabs.ui-widget ul li.ui-tabs-active a {
        text-decoration: none; }

/* Accordions */
.ui-accordion.ui-widget {
  border-radius: 6px;
  overflow: hidden; }
  .ui-accordion.ui-widget .ui-accordion-header {
    border-top: 6px solid #EEEEED;
    margin: 0;
    margin-bottom: 1.8rem;
    font-size: 2rem;
    padding: 2rem 3.6rem 0 3.6rem;
    background: #fff; }
    .ui-accordion.ui-widget .ui-accordion-header:before {
      color: #1E3F84;
      content: "\f13a";
      font-family: "FontAwesome";
      margin-right: 20px; }
    .ui-accordion.ui-widget .ui-accordion-header:hover, .ui-accordion.ui-widget .ui-accordion-header:active, .ui-accordion.ui-widget .ui-accordion-header:focus {
      cursor: pointer; }
  .ui-accordion.ui-widget .ui-state-active {
    border-color: #1E3F84; }
    .ui-accordion.ui-widget .ui-state-active:before {
      content: "\f139"; }
  .ui-accordion.ui-widget .ui-accordion-content {
    height: auto;
    margin-bottom: 4rem;
    padding: 0 3rem; }

/*# sourceMappingURL=style.css.map */
